body{
    margin: 0%;
    padding: 0%;
    background: #fff8f0;
}
.name{
    width: 100%;
    height: 300px;
    background: #76e9d6;

    transform: skewy(-5deg);

}
.name .content{
    width: 50%;
    height: 50%;
    position: absolute;
    left: 20%;

}


.name .content .p_1{
    color:azure;
    font-family: 'baloo tama 2', serif;
    font-weight: bolder;
    font-size: 60px;
    transform: skewy(-4deg);
    margin-bottom: 10px;
  
}
.name .content .p_2{
    color: azure;
    font-family: 'baloo tama 2', serif;
    font-size: 20px;
    transform: skewy(-3deg);
    margin-top: 0;
    margin-bottom: 20px;
  
}

.name .img{
    position: absolute;
    top: 18%;
    right: 3%;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    overflow: hidden;
}
.name .img img{
    width: 180px;
    height: 320px;
}

.info {
    width: 90%;
    height: auto;
    background: #76e9d6;
    margin:5% auto;
    padding: 20px;
    border-radius: 20px;
}

.info .tituloseccion {
    color: #063b25;
    font-family: 'baloo tama 2', serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px #2f8cf5 dashed;

}

.info .tittuloinfo {
    color: #063b25;
    font-family: 'baloo tama 2', serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;
}

.info .infoinfo {
    color: #063b25;
    font-family: 'baloo tama 2', serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}